@import "../../../../constants/constants.scss";

.contactus-wrapper {
  padding: 50px 0;
  background: linear-gradient(90.04deg, #160055 -5.45%, rgba(22, 23, 43, 0) 99.96%, rgba(22, 23, 43, 0) 99.96%);
  .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .contactus-form {
      width: 100%;
      max-width: 386px;
      .contactus-form__title {
        font-size: 36px;
        line-height: 48px;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: center;
        color: $white;
      }
      .contactus-form__subtitle {
        font-size: $large;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
        color: $white;
      }
      .contactus-form__element {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        color: $white;
        label {
          font-size: $medium;
          line-height: 24px;
          font-weight: 700;
        }
        input {
          border: 1px solid $deep-turquoise;
          height: 40px;
          background: transparent;
          color: $white;
          font-size: $xsmall;
          padding: 0 16px;
          outline: none;
          &.invalid {
            border-color: rgb(220 38 38);
          }
        }
      }
      .contactus-form__button {
        height: 40px;
        width: 100%;
        font-size: $medium;
        margin-top: 20px;
        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .contactus-wrapper {
    .section-content {
      .contactus-form {
        .contactus-form__title {
          font-size: $large;
          line-height: 32px;
          text-align: left;
        }
        .contactus-form__subtitle {
          font-size: $xsmall;
          line-height: 20px;
          text-align: left;
        }
        .contactus-form__element {
          label {
            font-size: $xsmall;
            line-height: 20px;
          }
        }
        .contactus-form__button {
          font-size: $small;
        }
      }
    }
  }
}
