@import "../../../../constants/constants.scss";

.tabs-controller-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  max-width: $element-max-width;
  margin-left: auto;
  margin-right: auto;
  .tab {
    color: $white;
    cursor: pointer;
    padding-bottom: 5px;
    text-align: center;
    &.selected {
      font-weight: bold;
      border-bottom: 3px solid $turquoise;
    }

    &:hover:not(.selected) {
      opacity: 0.9;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .tabs-controller-wrapper {
    margin-bottom: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }
}
