@import "../../constants/constants.scss";

.landing-wrapper {
  padding-top: $header-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    color: $white;
    font-size: $medium;
    margin-bottom: 30px;
  }
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  max-width: $element-max-width;
  padding: 0 $element-padding;
  .buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      margin: 0px 20px;
    }
  }
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .protector-wrapper {
    display: flex;
    align-items: center;
    padding: 0 $element-padding;
    max-width: $element-max-width;
    .protector-icon {
      width: 200px;
      margin-right: 50px;
    }
    .text-wrapper {
      display: flex;
      flex-direction: column;
      .deposit-claim-btn {
        width: 250px;
        margin-top: 30px;
      }
    }
  }

  .features-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/icons/cubes.svg");
    background-size: cover;
    width: 100%;
    .features-content {
      max-width: $element-max-width;
      padding: 0 $element-padding;
      .features-icons-wrapper {
        display: flex;
        justify-content: space-between;
        font-size: $small;
        color: $white;
        font-style: italic;
        .feature {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            margin-top: 20px;
          }
        }
      }
    }
  }
  section {
    margin-bottom: 100px;
  }
}

.social-wrapper {
  width: 100%;
  max-width: $element-max-width;
  padding: 0 $element-padding;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  img {
    margin-right: 25px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .welcome-wrapper {
    .buttons-wrapper {
      display: flex;
      flex-direction: column;
      button {
        margin: 20px 0;
        width: 100%;
      }
    }
  }

  .info-wrapper {
    .protector-wrapper {
      flex-direction: column;
      align-items: flex-start;
      .protector-icon {
        width: 50px;
        margin-right: 0;
        margin-bottom: 10px;
      }
      .text-wrapper {
        .deposit-claim-btn {
          width: 100%;
        }
      }
    }
    .features-wrapper {
      .features-content {
        .features-icons-wrapper {
          flex-direction: column;
          .feature {
            margin-bottom: 50px;
          }
        }
      }
    }
  }

  .social-wrapper {
    align-items: center;
  }
}
