@import "../../constants/constants.scss";

.landing-wrapper {
  padding-top: $header-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    color: $white;
    font-size: $medium;
    margin-bottom: 30px;
  }
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  max-width: $element-max-width;
  padding: 0 $element-padding;
  .buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    button {
      margin: 0px 20px;
    }
    button:last-child {
      margin-right: unset;
    }
  }
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .protocol-wrapper,
  .protector-wrapper {
    display: flex;
    align-items: center;
    padding: 0 $element-padding;
    max-width: $element-max-width;
    .protocol-icon,
    .protector-icon {
      width: 200px;
      margin-right: 100px;
    }
    .text-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      .deposit-claim-btn {
        width: 250px;
        margin-top: 30px;
      }
    }
  }

  .features-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/icons/cubes.svg");
    background-size: cover;
    width: 100%;
    .features-content {
      max-width: $element-max-width;
      padding: 0 $element-padding;
      .features-icons-wrapper {
        display: flex;
        justify-content: space-between;
        font-size: $small;
        color: $white;
        font-style: italic;
        .feature {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            margin-top: 20px;
          }
        }
      }
    }
    a {
      color: $turquoise;
      margin-top: 50px;
    }
  }

  section {
    margin: 100px 0;
  }
}

.nfts-wrapper {
  max-width: $element-max-width;
  padding: 0 $element-padding;
  width: 100%;
  box-sizing: border-box;
  .nfts-container {
    display: flex;
    justify-content: space-between;
    .nft-card {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  video {
    margin: 0 20px;
  }
  // video:first-child {
  //   margin-left: unset;
  // }
  // video:last-child {
  //   margin-right: unset;
  // }
  .swiper-slide {
    max-width: 200px;
  }
}

.social-wrapper {
  width: 100%;
  max-width: $element-max-width;
  padding: 0 $element-padding;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
  .sub-title {
    color: $white;
    margin-right: 100px;
  }
  img {
    margin-right: 25px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  img:last-child {
    margin-right: unset;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .welcome-wrapper {
    .buttons-wrapper {
      display: flex;
      flex-direction: column;
      button {
        margin: 10px 0px;
        width: 100%;
      }
    }
  }

  .info-wrapper {
    .protocol-wrapper,
    .protector-wrapper {
      flex-direction: column;
      align-items: flex-start;
      .protocol-icon,
      .protector-icon {
        width: 50px;
        margin-right: 0;
        margin-bottom: 10px;
      }
      .text-wrapper {
        .deposit-claim-btn {
          width: 100%;
        }
      }
    }
    .features-wrapper {
      .features-content {
        .features-icons-wrapper {
          flex-direction: column;
          .feature {
            margin-bottom: 50px;
          }
        }
      }
      a {
        margin-top: unset;
      }
    }
    section {
      margin: 50px 0;
    }
  }

  .nfts-wrapper {
    video {
      margin: unset;
    }
  }

  .social-wrapper {
    //align-items: center;
    flex-direction: column;
    .sub-title {
      margin-bottom: 10px;
    }
    img {
      margin-right: 10px;
    }
  }
}
