@import "../../constants/constants.scss";

.nft-wrapper {
  display: flex;
  flex-direction: column;
  padding: $header-height 0;
  .banner {
    width: 100%;
  }
  .nft-content {
    padding: $element-padding;
    section {
      display: flex;
      flex-direction: column;
      margin: 50px 0;
      white-space: pre-line;
      .title {
        font-size: $medium;
        color: $white;
        margin-bottom: 10px;
      }
    }
    a {
      color: $turquoise;
    }
    .nft-footer-wrapper {
      margin: auto;
      max-width: $element-max-width;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .nft-wrapper {
    .nft-content {
      padding: $mobile-element-padding;
    }
  }
}
