@import "../../../../constants/constants.scss";

.about-wrapper {
  display: flex;
  flex-direction: column;
  max-width: $element-max-width;
  margin: auto;
  max-width: 600px;
  .go-to-game-btn {
    width: 500px;
    height: 50px;
    margin: auto;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .about-wrapper {
    .go-to-game-btn {
      width: 100%;
    }
  }
}
