
/* colors */
$dark-blue: #000723;
$blue: #0E162B;
$turquoise: #8AFCFD;
$white: #FFFFFF;

/* font sizes */
$large: 24px;
$medium: 18px;
$small: 14px;

/* others */
$mobile-breakpoint: 770px;
$small-screen-breakpoint: 1440px;
$element-max-width: 1220px;
$element-padding: 50px;
$mobile-element-padding: 20px;
$header-height: 100px;
$footer-height: 100px;
