
/* colors */
$dark-blue: #000723;
$turquoise: #8AFCFD;
$white: #FFFFFF;

/* font sizes */
$medium: 18px;
$small: 14px;

/* others */
$mobile-breakpoint: 770px;
$small-screen-breakpoint: 1440px;
$element-max-width: 1220px;
$element-padding: 50px;
$header-height: 100px;
$footer-height: 100px;
