@import "../../../../constants/constants.scss";

.welcome-wrapper {
  width: 100%;
  .hats-finance {
    color: $deep-turquoise;
    font-size: $xlarge;
    font-weight: 700;
  }
  .countdown-container {
    position: absolute;
    width: 200px;
    height: 200px;
    background: radial-gradient(77.99% 77.99% at 50% 50%, #ad51ff 0%, #993bab 52.23%, #ec7a88 80.08%, #0e0716 100%);
    border: 1.19074px solid #d23ab5;
    box-sizing: border-box;
    box-shadow: -2.38148px 0px 39.2945px 23.8148px rgb(143 58 244 / 60%);
    border-radius: 1000px;
    top: 500px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    font-weight: bold;
  }
  .start {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: block;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 345px;
    height: 50px;
    font-size: $medium;
    img {
      margin-left: 5px;
    }
  }
  .moto {
    font-size: $large;
    font-style: italic;
    color: $white;
    max-width: $element-max-width;
    margin: auto;
    text-align: center;
    margin-top: 100px;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .welcome-wrapper {
    flex-direction: column;
    .hats-finance {
      font-size: $large;
    }
    .countdown-container {
      width: 100px;
      height: 100px;
      right: 20px;
      top: 300px;
      font-size: $tiny;
    }
    .start {
      width: calc(100% - 40px);
      font-size: $small;
      margin-top: 50px;
    }
    .moto {
      font-size: $small;
      margin-top: 40px;
    }
  }
}
