@import "../../../../constants/constants.scss";

.challenges-wrapper {
  display: flex;
  flex-direction: column;
  max-width: $element-max-width;
  margin: auto;
  max-width: 600px;
  .challenges__select {
    background: none;
    border: 1px solid $turquoise-3;
    width: 160px;
    color: $white;
    padding: 10px;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .challenges-wrapper {
    .challenges__select {
      width: 100%;
    }
  }
}
