@import "./constants/constants.scss";

@font-face {
  font-family: SegoeUI;
  src: url(./assets/fonts/Segoe-UI.ttf);
}

body {
  font-family: SegoeUI;
  background-color: $deep-blue;
  margin: 0px;
}
