@import "./constants/constants.scss";

@font-face {
  font-family: SegoeUI;
  src: url(./assets/fonts/Segoe-UI.ttf);
}

html {
  background-color: $deep-blue;
}

body {
  font-family: SegoeUI;
  background: linear-gradient(180deg, $blue-gradient 0%, $black-gradient 100%);
  margin: 0px;
}

#document {
  iframe {
    display: none;
  }
}
