@import "./constants/constants.scss";

@font-face {
  font-family: RobotoMono;
  src: url(./assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

body {
  font-family: RobotoMono;
  background-color: $deep-blue;
  margin: 0px;
}
